bleach==3.2.1
certifi==2020.12.5
chardet==3.0.4
colorama==0.4.4
docutils==0.16
ExifRead==2.3.2
idna==2.10
jsonpickle==1.4.2
keyring==21.6.0
packaging==20.8
perseus-core-library==1.15.3
perseus-name-generator-library==1.1.0
pipfile==0.0.2
pkginfo==1.6.1
Pygments==2.7.3
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.4
pywin32-ctypes==0.2.0
readme-renderer==28.0
requests==2.25.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
six==1.15.0
toml==0.10.2
tqdm==4.54.1
twine==3.2.0
Unidecode==1.1.2
urllib3==1.26.2
webencodings==0.5.1
